html{
    color: darkblue;
    background: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
body{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.09);
    min-width: 50vh;
    min-height: 50vh;
    padding: 3em;
    border-radius: 10px;
}

.error{
    color:red;
}